<!DOCTYPE html>
<html>
<head>
	<title>Hi, welcome ot Madlibs</title>
</head>
<body>
	<form action="/madlib">
		Game Type: Do you want a spooky madlib or a lunch time madlib?
		<input type="checkbox" name="game_type_spooky" value="spooky">Spooky
		<input type="checkbox" name="game_type_lunch" value="lunch">Lunch<br>
		Person: 
		<input type="text" name="person"><br><br>
		Color: 
		<input type="text" name="color"><br><br>
		Noun: 
		<input type="text" name="noun"><br><br>
		Adjective: 
		<input type="text" name="adjective"><br><br>
		<input type="submit" name="submit" value ="Play!">
	</form>
</body>
</html>